@media screen and (min-width:320px){

    /*----------------- Header -----------------*/
    header{
        position: fixed;
    }
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    #help, #noti, #terminal{
        font-variation-settings:
        'FILL' 0
    }
    .material-symbols-outlined{
        color: white;
    }
    header{
        background-color: rgb(39, 47, 61);
        font-size: 12px;
    }
    header a{
        text-decoration: none;
        color: white;
    }
    
    header img{
        width: 40px;
        height: 25px;
    }
    header{
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header ul li{
        list-style: none;
        display: inline-block;
        vertical-align: top;
    }
    header ul:first-child{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    ul.head_left{
        padding-left: 25px;
    }
    
    header ul:last-child{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    header select{
        background:transparent;
        color:white;
        border: none;
        margin-top: 5px;
    }
    
    
    ul.head_left li:nth-of-type(1){
        padding-right: 15px;
        border-right: 1px solid grey;
    }
    ul.head_left li:nth-of-type(2){
        margin: 0 15px;
    }
    
    
    ul.head_right li:nth-of-type(2){
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }
    ul.head_right li:nth-of-type(3){
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }
    ul.head_right li:nth-of-type(4){
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }
    ul.head_right li:nth-of-type(5){
        padding-right: 20px;
        padding-left: 10px;
    }
    ul.head_right li:nth-of-type(6){
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }
    ul.head_right li:nth-of-type(7){
        padding-right: 20px;
        padding-left: 10px;
    }
    .search_section{
        position: relative;
        height: 23px;
        top: -4px;
    }
    .search_section input{
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        background-color: black;
        width: 250%;
        height: 125%;
        color: white;
        text-indent: 30px;
        font-style: italic;
    }
    #search_icon{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 4px;
        left: 4px;
    }
    #search_hint{
        width: 3rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0.5rem;
        left: 21rem;
        color: grey;
    }
    #service_text{
        position: relative;
        top: -6px;
        left: -2px;
    }
    
    ul.head_left li:last-child{
        display: none;
    }
    ul.head_right li:nth-of-type(6){
        display: none;
    }
    ul.head_right li:nth-of-type(7){
        display: none;
    }
    /*-------------------------------------------*/
    
    
    
    }
    
    @media screen and (min-width:768px){
    
    /*----------------- Header -----------------*/
    ul.head_left li:last-child{
        display: none;
    }
    ul.head_right li:first-child{
        display: none;
    }
    ul.head_right li:nth-of-type(5){
        display: none;
    }
    ul.head_right li:nth-of-type(6){
        display: inline-block;
    }
    ul.head_right li:nth-of-type(7){
        display: inline-block;
    }
    /*-------------------------------------------*/
    
    
    }
    
    
    @media screen and (min-width:1024px){
    
    /*----------------- Header -----------------*/    
    ul.head_left li:last-child{
        display: inline-block;
    }
    /*-------------------------------------------*/
    
    
    
    }
    
    