body,
html {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

footer {
	background-color: #232f3e;
	margin-top: auto;
	width: 100%;
	line-height: 25px;
	border-top: 1px solid #545b64;
}

#footer-content {
	display: flex;
	justify-content: space-between;
}

#footer-content>div {
	flex: 1;
}

.inner_contents01 {
	display: flex;
}

.inner_contents01>div {
	flex: 1;
}

.inner_contents02 {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.inner_contents02 button {
	margin: 0 10px;
	flex-shrink: 0;
	white-space: nowrap;
	flex-basis: calc(25% - 20px);
}

.inner_contents02 button:first-child {
	order: 2;
}

#cloudShell {
	display: none;
	margin-left: 20px;
	max-width: 100px;
}

#opinionAndLanguage>button {
	margin-right: 20px;
}

button {
	padding: 0px 0px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 12px;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.inner_contents02 button {
		flex-basis: auto;
	}

	.inner_contents02 button:first-child {
		order: 0;
	}
}

/* 768 부터 2023 Amazon.. 아래 줄로 이동*/

@media (min-width: 320px) {
	#cloudShell {
		display: block;
	}
}

/* 320 부터 cloudShell 아이콘 사라짐 */