@media screen and (min-width: 320px) {
    #wrap {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #main_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-collapse: collapse;
        /*background-color: #f2f3f3;*/
    }

    #navigation_closed {
        background-color: white;
        width: 99.7%;
        height: 45px;
        border: 1px solid silver;
    }

    #navigation_opened {
        background-color: white;
        width: 100%;
        height: 100vh;
        display: none;
        overflow-y: scroll;
        border-right: 1px solid silver;
    }

    .main {
        width: 100%;
    }

    #nav_open_btn {
        padding-top: 4px;
        padding-left: 4px;
        width: 35px;
        height: 35px;
    }

    #nav_close_btn {
        padding-top: 20px;
        width: 20px;
        height: 20px;
    }

    .nav_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        border-bottom: 1px solid silver;
    }

    .nav_title2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid silver;
        margin-bottom: 1px;
    }

    .nav_title2 h6 {
        margin-left: 15%;
        margin-bottom: -2%;
    }

    .nav_title2 h4 {
        margin-left: 15%;
        font-weight: normal;
    }

    .horizontal_line {
        height: 1px;
        background: #000;
        margin: 10px 0;
    }

    .div_title {
        padding-left: 15px;
        padding-top: 4px;
        width: 80%;
    }

    .div_close {
        width: 10%;
        margin-right: 20px;
    }

    .AWS_support_center {
        margin-left: 10px;
    }

    .main_contents {
        display: flex;
        flex-direction: column;
    }

    .main_contents > div {
        background-color: white;
    }

    .main_box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .support_tool {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .billing_information,
    .service_quotas,
    .trusted_advisor,
    .health_dashboard,
    .compute_optimizer {
        flex-basis: calc(50% - 10px); /* 가로에 2개를 배치하므로 50%, 각 아이템 사이의 간격을 위해 -10px을 함 */
        margin-bottom: 20px; /* 세로 간격을 위한 마진 */
        padding-bottom: 1%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .support_tool_sub {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .specification {
        border: 1px solid rgba(0, 0, 0);
        width: 20%;
        text-align: center;
    }

    .alert_sub_container {
        margin-bottom: 3%;
    }

    .alert_row {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.2);
        align-items: center;
        height: 50px;
    }

    .alert_row > * {
        padding-left: 15px;
        padding-right: 15px;
    }

    .alert_row:nth-child(2n+1) {
        background-color: rgba(211, 211, 211, 0.3);
    }

    .alert_row:nth-child(2n+1) > a {
        text-decoration: none;
        color: #0073bb;
    }

    #edge_case {
        text-decoration: none;
        color: #0073bb;
    }

    .support_example_tab {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .support_example_tab > div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }

    #edge_case2 {
        color: #0073bb;
    }

    .support_example_row_01 {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .support_example_row_01 > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .support_example_right > div > a {
        text-decoration: none;
    }

    .support_example_right > div {
        padding: 10px 25px;
    }

    .support_example_right > div:not(:last-child) {
        margin-right: 10px
    }

    .support_example_right > div:last-child {
        font-weight: bold;
        background-color: #FF9900;
    }

    .support_example_right > div:last-child > a {
        color: black;
    }

    .support_example_row_03, .support_example_row_04 {
        display: flex;
        flex-direction: column;
        align-items: center; /* 세로 중앙 정렬 */
    }

    .search_tab {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        align-items: center;
        box-shadow: 0 8px 6px -9px black;
    }

    #edge_case5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search_help {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-bottom: 10px;
        text-align: center;
    }

    #helper {
        text-align: center;
    }

    .search_tab > div {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    #news,
    #search_text_input {
        text-align: center;
    }

    #news {
        color: black;
        padding-bottom: 5px;
        margin-bottom: 10px;
        border: 1px solid blue;
        background-color: #f1faff;
        width: 70%;
        height: 60px;
        display: flex; /* Flexbox를 사용합니다 */
        align-items: center; /* 요소를 세로 방향으로 중앙에 배치합니다 */
        justify-content: center; /* 요소를 가로 방향으로 중앙에 배치합니다 */
    }

    .sub_box_right {
        margin-left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .FAQ_space,
    .account_space,
    .bill_space {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .FAQ_space,
    .account_space,
    .bill_space,
    .freeTier {
        padding-right: 15px;
        padding-left: 15px;
    }

    .account_space *,
    .bill_space *,
    .freeTier * {
        margin-bottom: 15px;
        font-size: 14px;
        color: #0073bb;
        text-decoration: none;
    }

    .account_space h3,
    .bill_space h3,
    .freeTier h3 {
        font-size: 18px;
        font-weight: normal;
        color: black;
    }

    /*----------------- Header -----------------*/
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    #help, #noti, #terminal {
        font-variation-settings: 'FILL' 0
    }

    .material-symbols-outlined {
        color: white;
    }

    header {
        background-color: rgb(39, 47, 61);
        font-size: 12px;
    }

    header a {
        text-decoration: none;
        color: white;
    }

    header img {
        width: 40px;
        height: 25px;
    }

    header {
        width: 100%;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header ul li {
        list-style: none;
        display: inline-block;
        vertical-align: top;
    }

    header ul:first-child {
        width: 50%;
        display: flex;
        flex-direction: row;
    }

    ul.head_left {
        padding-left: 25px;
    }

    header ul:last-child {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: right;
    }

    header select {
        background: transparent;
        color: white;
        border: none;
        margin-top: 5px;
    }

    ul.head_left li:nth-of-type(1) {
        padding-right: 15px;
        border-right: 1px solid grey;
    }

    ul.head_left li:nth-of-type(2) {
        margin: 0 15px;
    }

    ul.head_right li:nth-of-type(1) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }

    ul.head_right li:nth-of-type(2) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }

    ul.head_right li:nth-of-type(3) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }

    ul.head_right li:nth-of-type(4) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }

    ul.head_right li:nth-of-type(5) {
        padding-right: 20px;
        padding-left: 10px;
    }

    ul.head_right li:nth-of-type(6) {
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid grey;
    }

    ul.head_right li:nth-of-type(7) {
        padding-right: 20px;
        padding-left: 10px;
    }

    .search_section {
        position: relative;
        height: 23px;
        top: -4px;
    }

    .search_section input {
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        background-color: black;
        width: 250%;
        height: 125%;
        color: white;
        text-indent: 30px;
        font-style: italic;
    }

    #search_icon {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 4px;
        left: 4px;
    }

    #search_hint {
        width: 3rem;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0.5rem;
        left: 21rem;
        color: grey;
    }

    #service_text {
        position: relative;
        top: -6px;
        left: -2px;
    }

    ul.head_left li:last-child {
        display: none;
    }

    ul.head_right li:nth-of-type(6) {
        display: none;
    }

    ul.head_right li:nth-of-type(7) {
        display: none;
    }

    /*------------------side bar----------------------*/
    #main_rap ul.inner li {
        position: relative;
        left: -35px;
    }

    #main_rap li {
        list-style: none;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-right: 10px;
    }

    #main_rap li.toggle_li {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #main_rap li a {
        text-decoration: none;
    }

    /* +++++++++++++++++side bar plus++++++++++++ */
    #navigation {
        margin-right: 20px;
    }

    #navigation a {
        text-decoration: none;
    }

    .menu_main {
        line-height: 35px;
    }

    .toggle_li li a {
        color: rgb(100, 99, 99);
    }

    a.nav_title {
        color: black;
        font-weight: bold;
    }

    ul.menu_main {
        list-style: disclosure-closed;
        color: rgb(43, 43, 43);
    }

    ul.menu_main li::marker {
        color: rgb(43, 43, 43);
    }

    #edge_case3 {
        margin-bottom: 10px;
    }

    #edge_case4 {
        margin-left: 15%;
    }

    ul.inner {
        list-style-type: none;
        padding-left: 0;
    }


    /* ++++++++++++++++++++++++++++++++++++++++++ */
    /*------------------footer----------------------*/
    #cloudShell {
        display: block;
    }

    footer {
        background-color: #232f3e;
        width: 100%;
        line-height: 25px;
        border-top: 1px solid #545b64;
    }

    #footer-content {
        display: flex;
        justify-content: space-between;
    }

    #footer-content > div {
        flex: 1;
    }

    .inner_contents01 {
        display: flex;
    }

    .inner_contents01 > div {
        flex: 1;
    }

    .inner_contents02 {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .inner_contents02 button {
        margin: 0 10px;
        flex-shrink: 0;
        white-space: nowrap;
        flex-basis: calc(25% - 20px);
    }

    .inner_contents02 button:first-child {
        order: 2;
    }

    #opinionAndLanguage > button {
        margin-right: 20px;
    }

    button {
        padding: 0px 0px;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 12px;
        vertical-align: middle;
    }
}

@media screen and (min-width: 768px) {

    #main_wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .main {
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
    }

    #navigation_closed {
        background-color: white;
        width: 45px;
        height: 99.7%;
    }

    #navigation_opened {
        background-color: white;
        width: 280px;
        height: 100%;
        display: none;
        overflow-y: scroll;
    }

    /*----------------- Header -----------------*/
    ul.head_left li:last-child {
        display: none;
    }

    ul.head_right li:first-child {
        display: inline-block;
    }

    ul.head_right li:nth-of-type(5) {
        display: none;
    }

    ul.head_right li:nth-of-type(6) {
        display: inline-block;
    }

    ul.head_right li:nth-of-type(7) {
        display: inline-block;
    }

    /*-------------------footer------------------------*/
    #cloudShell {
        display: block;
        margin-left: 20px;
        max-width: 100px;
    }
}


@media screen and (min-width: 1024px) {

    /*----------------- Header -----------------*/
    ul.head_left li:last-child {
        display: inline-block;
    }

    /*-------------------------------------------*/
    .inner_contents02 button {
        flex-basis: auto;
    }

    .inner_contents02 button:first-child {
        order: 0;
    }
}

@media screen and (max-width: 767px) {
    #cloudShell {
        display: none;
    }

    .sub_box_left {
        display: none;
    }

    .sub_box_right {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100%;
        margin-left: 0px;
    }

    h2,
    h3 {
        text-align: center;
    }

    a {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    footer {
        margin-top: 20px;
    }

    #footer-content {
        align-items: center;
    }

    .inner_contents02 {
        display: flex;
        justify-content: space-between;
    }

    .inner_contents02 button {
        align-items: center;
    }

    .inner_contents02 button:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
    }

    .inner_contents01 {
        display: none;
    }

    #nav_open_btn,
    #navigation_closed {
        display: none;
    }

}